<%= stylesheet_link_tag "home", "data-turbo-track": "reload" %>

<div class="feature-section" style="background-image: url('/backdrop.avif');">
  <div class="overlay">
    <h1 class="feature-text">Create a Bible Reading Plan About</h1>
    <h1 class="feature-text" id="dynamic-text">Crazy Miracles<span class="blinking-cursor">|</span></h1>
  </div>
</div>

<div id='plan-container'></div>

<div class="jumbotron text-center my-5">
  <h1 class="display-4">AI Bible Plan Generator</h1>
  <p class="lead">Generate personalized Bible reading plans with AI insights for each day</p>
  <% if user_signed_in? %>
    <a class="btn btn-primary btn-lg" href="<%= plans_path %>" role="button">Go to Plan Overview</a>
  <% else %>
    <a class="btn btn-primary btn-lg" href="<%= new_user_registration_path %>" role="button">Create Account</a>
  <% end %>
</div>
<div class="row mb-5">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Personalized Plans</h2>
        <p class="card-text">
          Let the AI source relevant Bible passages and create a personalized plan for you.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Daily Overview</h2>
        <p class="card-text">Each day of your plans has an AI generated overview to help guide you thr ough the plan and understand the passages you are reading.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Read with Friends</h2>
        <p class="card-text">Invite your friends to read along with you and share insights.</p>
      </div>
    </div>
  </div>
</div>

<div>
  <h2>Community Created Plans</h2>
  <div class="row">
    <% @community_plans.each do |plan| %>
      <%= render 'plans/plan_card', plan: plan %>
    <% end %>
  </div>
</div>

<% content_for :head do %>
  <%= javascript_include_tag "home", "data-turbo-track": "reload", async: true %>
<% end %>