<div class="col-md-4">
  <div class="card mb-4">
    <% unless plan.cover_photo.empty? %>
      <a href="<%= plan_path(plan) %>">
        <img src="<%= plan.cover_photo %>/400/200" class="card-img-top bg-dark" alt="Plan cover photo" />
      </a>
    <% end %>
    <div class="card-body">
      <h5 class="card-title"><%= plan.name %></h5>
      <p class="card-text"><%= plan.description %></p>
      <div class="d-flex gap-2">
        <%= before_actions if local_assigns[:before_actions] %>
        <%= link_to 'View Plan', plan_path(plan), class: 'btn btn-primary' %>
        <%= after_actions if local_assigns[:after_actions] %>
      </div>
      <% if local_assigns[:actions] %>
        <%= actions %>
      <% end %>
    </div>
  </div>
</div>