<h1 class="mb-4">Plans</h1>

<div class="d-flex justify-content-start mb-4">
  <%= link_to 'Create New Plan', new_plan_path, class: 'btn btn-success btn-lg' %>
</div>

<% if @active_plan_instance_users.any? %>
  <div class="mb-5">
    <h2>Active Plans</h2>
    <div class="row">
      <% @active_plan_instance_users.each do |plan_instance_user| %>
        <div class="col-md-4">
          <div class="card mb-4">
            <% unless plan_instance_user.plan_instance.plan.cover_photo.empty? %>
              <a href="<%= plan_instance_path(plan_instance_user.plan_instance) %>">
                <img src="<%= plan_instance_user.plan_instance.plan.cover_photo %>/400/200"
                  class="card-img-top bg-dark"
                  alt="Plan cover photo"
                />
              </a>
            <% end %>
            <div class="card-body">
              <h5 class="card-title"><%= plan_instance_user.plan_instance.plan.name %></h5>
              <p class="card-text"><%= plan_instance_user.plan_instance.plan.description %></p>
              <p class="card-text"><small class="text-muted">Started on: <%= plan_instance_user.plan_instance.start_date.strftime("%b %d, %Y") %></small></p>
              <div class="progress mb-3">
                <div class="progress-bar" role="progressbar" style="width: <%= plan_instance_user.completion_percentage %>%" aria-valuenow="<%= plan_instance_user.completion_percentage %>" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <%= link_to 'Continue Reading', plan_instance_path(plan_instance_user.plan_instance), class: 'btn btn-primary' %>
              <div class="dropdown d-inline">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton<%= plan_instance_user.plan_instance.id %>" data-bs-toggle="dropdown" aria-expanded="false">
                  Actions
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton<%= plan_instance_user.plan_instance.id %>">
                  <li>
                    <%= link_to 'Stop plan', plan_instance_path(plan_instance_user.plan_instance), data: { 'turbo-method': 'delete', 'turbo-confirm': 'Are you sure you want to stop reading this plan and remove it from your list?' }, class: 'dropdown-item' %>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<% if @completed_plan_instance_users_count %>
  <div class="mb-5">
    <a href="<%= completed_plans_path %>" class="btn btn-outline-info">Completed Plans</a>
  </div>
<% end %>

<% if @created_plans.any? %>
  <div class="mb-5">
    <h2>Created Plans</h2>
    <div class="row">
      <% @created_plans.each do |plan| %>
        <div class="col-md-4">
          <div class="card mb-4">
            <% unless plan.cover_photo.empty? %>
              <a href="<%= plan_path(plan) %>">
                <img src="<%= plan.cover_photo %>/400/200"
                  class="card-img-top bg-dark"
                  alt="Plan cover photo"
                />
              </a>
            <% end %>
            <div class="card-body">
              <h5 class="card-title"><%= plan.name %></h5>
              <p class="card-text"><%= plan.description %></p>
              <%= link_to 'View Plan', plan_path(plan), class: 'btn btn-primary' %>
              <%= link_to 'Edit Plan', edit_plan_path(plan), class: 'btn btn-secondary ml-2' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<div>
  <h2>Browse Plans</h2>
  <div class="row">
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Community Plan 1</h5>
          <p class="card-text">Description of Community Plan 1.</p>
          <%= link_to 'View Plan', plan_path(3), class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Community Plan 2</h5>
          <p class="card-text">Description of Community Plan 2.</p>
          <%= link_to 'View Plan', plan_path(4), class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag "plan-overview", "data-turbo-track": "reload" %>
