<h1>New Plan</h1>

<%= form_with model: @plan, local: true, id: 'plan-form' do |form| %>
  <%= form.hidden_field :name, id: 'plan-name' %>
  <%= form.hidden_field :description, id: 'plan-description' %>
  <%= form.hidden_field :cover_photo, id: 'plan-cover-photo' %>
  <%= form.hidden_field :days, id: 'plan-days' %>
<% end %>

<div id='plan-container' class="my-4"></div>

<%= javascript_include_tag "new-plan", "data-turbo-track": "reload" %>
<% content_for :head do %>
  <style>
    .plan-container {
      display: flex;
      overflow-x: auto;
      white-space: nowrap;
    }

    .card {
      flex: 0 0 auto;
      margin-right: 16px; /* Adjust spacing between cards as needed */
      width: 300px; /* Adjust card width as needed */
    }

    .card-body {
      display: flex;
      flex-direction: column;
      white-space: normal;
    }
  </style>
<% end %>