<h1>New Plan</h1>

<%= form_with model: @plan, local: true, id: 'plan-form' do |form| %>
  <%= form.hidden_field :name, id: 'plan-name' %>
  <%= form.hidden_field :description, id: 'plan-description' %>
  <%= form.hidden_field :cover_photo, id: 'plan-cover-photo' %>
  <%= form.hidden_field :days, id: 'plan-days' %>
  <%= form.hidden_field :action, id: 'plan-action' %>
  <%= form.hidden_field :collaborators, id: 'plan-collaborators' %>
<% end %>

<div id='plan-container' class="my-4"></div>

<div id="start-plan-with-others-container"></div>

<%= stylesheet_link_tag "new-plan", "data-turbo-track": "reload" %>
<%= javascript_include_tag "new-plan", "data-turbo-track": "reload" %>
<%= javascript_include_tag "start-plan-with-others", "data-turbo-track": "reload" %>
