<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Bible Planner" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <link rel=”mask-icon” href=”mask-icon.svg” color=”#000000">
    <meta name="theme-color" content="#78c2ad">

    <%= stylesheet_link_tag 'application', "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'bootstrap.minty.min', 'data-turbo-track': 'reload' %>
    <%# <%= javascript_importmap_tags %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "tooltip", "data-turbo-track": "reload", async: true %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary" data-bs-theme="dark">
      <div class="container">
        <%= link_to 'Bible Planner', root_path, class: 'navbar-brand' %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <%= link_to 'Bible', bible_path, class: "nav-link #{'active' if current_page?(bible_path)}" %>
            </lI>
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to 'Plans', plans_path, class: "nav-link #{'active' if current_page?(plans_path)}" %>
              </li>
              <li class="nav-item">
                <%= link_to 'Account', edit_user_registration_path, class: "nav-link #{'active' if current_page?(edit_user_registration_path)}" %>
              </li>
               <li class="nav-item">
                <%= link_to 'Logout', destroy_user_session_path, class: "nav-link", data: { "turbo-method": :delete } %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to 'Home', root_path, class: "nav-link #{'active' if current_page?(root_path)}" %>
              </li>
              <li class="nav-item">
                <%= link_to 'Login', new_user_session_path, class: "nav-link #{'active' if current_page?(new_user_session_path)}" %>
              </li>
            <% end %>
            <li class="nav-item">
              <button id="theme-toggle" class="nav-link">
                <i id="theme-icon" class="bi"></i>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container mt-3">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key == 'notice' ? 'success' : 'danger' %> alert-dismissible fade show" role="alert">
          <%= value %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>
      <% if flash.any? %>
        <script>
          window.flash = <%= raw(flash.to_json) %>;
        </script>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
